{% extends "base.html" %}
{% block titulo %}Detalle etiqueta Stem4Girls{% endblock %}
{% load static%}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/proveedores.css' %}">
{% endblock %}

{% block contenido %}
<section class="p-contenedor">
    <a href="{% url 'lista_tags' %}" class="lp-volver">&larr; {% trans "Volver a Etiquetas" %}</a>

    <div class="p-tarjeta">
        <h1>{{ tag.nombre }}</h1>
        <p class="p-descripcion">{{ tag.descripcion }}</p> 

        <h2 class="lr-titulo">{% trans "Recursos de" %}{{ tag.nombre }} ({{ tag.recursos.count  }})</h2>
        {% if tag.recursos %}
            <ul class="lr">
                {% for recurso in tag.recursos.all %}
                    <li class="recurso">
                        <span class="r-fecha">{{ recurso.fecha_publicacion }}</span>
                        <div class="r.info">
                            <span class="r-titulo">{{ recurso.titulo }}</span>
                            <span class="r-descripcion">{{ recurso.descripcion|truncatechars:70 }}</span>
                            
                            <div class="r-tags">
                                {% for tag in recurso.tags.all %}
                                    <a href="{% url 'detalle_tag' tag.id %}" class="tag {{ tag.color_class }}">
                                        {{ tag.nombre }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>

                        <a href="{% url 'detalle_recurso' recurso.id %}" class="r-link">
                           {% trans "Ver recurso" %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-recursos">{% trans "Esta etiqueta aún no tiene recursos asociados." %}</p>
        {% endif %}
    </div>
</section>
{% endblock %}