{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/recursos.css' %}">
{% endblock %}

{% block contenido %}

<div class="recurso">
    <h1>{{ recurso.titulo }}</h1>
    <div class="contenido_recurso">
    <div class="recurso_text">
        <p id="Proveedor_r_link"> {% trans "Proveedor" %}
            <a href="{% url 'detalle_proveedor' recurso.proveedor.id %}">
                {{ recurso.proveedor.nombre }}</a>
        </p>
    
        <p> {% blocktrans with fecha=recurso.fecha_publicacion|date:"d M Y" %}Publicado el {{ fecha }}{% endblocktrans %}</p>
        <p>{{recurso.descripcion}}</p>
        <!-- Tags -->
        {% if recurso.tags.all %}
            <div class="tags_recurso">
                {% for tag in recurso.tags.all %}
                    <a href="{% url 'detalle_tag' tag.id %}" class="tag {{ tag.color_class }}">
                        {{ tag.nombre }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

    </div>
    <!-- SI TIENE UN TAG "Video" -->
    {% for tag in recurso.tags.all %}
        {% if tag.nombre|lower == "video" %}
            {% if recurso.enlace %}
            <div class="video_container">
                <iframe 
                src="https://www.youtube.com/embed/1pwjHgUrTyQ"
                title="{{ recurso.titulo }}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
                </iframe>
            </div>
            {% endif %}
        {% endif %}
    {% endfor%}
    </div>
    <!-- Enlace -->
        <div class="recurso_enlace">
        <p>
            {% trans "Si estás interesado o quieres más información, visita el siguiente enlace:" %}
        </p>
        <a href="{{ recurso.enlace }}" target="_blank" rel="noopener noreferrer" class="btn_enlace">
            {% trans "Ir a la web" %}
        </a>
        </div>
    <!-- Enlace VOLVER -->
     <div class="enlace_recursos">
    <a href="{% url 'lista_recursos' %}">{% trans "Volver a recursos" %}</a></div>

</div>
{% endblock %}
