{% extends "base.html" %}

{% block titulo %} Recursos Stem4Girls {% endblock %}

{% block contenido %}
<h1>Explora Nuestros Recursos</h1>
<p>Encuentra talleres, videos, eventos y mucho más para impulsar tu talento STEM</p>
<!-- BEGIN ENTRIES -->
<div class="w3-col l8 s12">

  <!-- Blog entry -->
  <div class="grid_recursos">
    {% if recursos %}
    {% for recurso in recursos %}
        <div class="recurso_card">
            <div>
                <h2>{{ recurso.titulo }}</h2>
                <p> Publicado el {{ recurso.fecha_publicacion|date:"d M Y" }} </p>
                <!-- Descripción recortada -->
                <p>{{ recurso.descripcion|truncatechars:100 }}</p> 
                <!-- Tags -->
                {% if recurso.tags.all %}
                    <div class="tags_recurso">
                        {% for tag in recurso.tags.all %}
                            <!-- añadir tags con propiedades -->
                            <span class="tag">{{ tag.nombre }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

            <!-- Enlace a detalle_recurso -->
            <a href="{% url 'detalle_recurso' recurso.id %}">Ver más detalles:</a>
        </div>
    {% endfor %}
    <!-- Enlace a más recursos -->
    {% else %}
        <p>ERROR</p>
    {% endif %}
    </div>
  </div>

</div>
<!-- END ENTRIES -->
{% endblock %}