{% extends "base.html" %}

{% block titulo %} Recursos Stem4Girls {% endblock %}
{% load static %}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/recursos.css' %}">
{% endblock %}

{% block contenido %}
<!-- BEGIN ENTRIES -->
<div class="l_recursos">
    <div class="info_L_recursos">
        <h1>{% trans "Explora Nuestros Recursos" %}</h1>
        <p>{% trans "Encuentra talleres, videos, eventos y mucho más para impulsar tu talento STEM" %}</p>
    </div>

    <!-- Buscador en índice -->
    <div class="search_box">
        <span class="search-icon">🔍</span>
        <input id="live-search-input" class="live-search-input" type="search"
        placeholder="{% trans 'Buscar recursos(nombre, etiqueta, proveedor...)' %}" autocomplete="off">
        <div id="live-search-results" class="live-search-results" aria-live="polite" role="listbox"></div>
    </div>

  <!-- Blog entry -->
  <div class="grid_recursos">
    {% if recursos %}
    {% for recurso in recursos %}
        <div class="recurso_card">

            <div>
                <h2>{{ recurso.titulo }}</h2>
                {% if recurso.imagen %}
                    <img src="{% static recurso.imagen.url %}" alt="{{ recurso.titulo|escape }}" class="recurso_img">
                
                {% else %}
                    <p>ERROR</p>
                {% endif %}
                <p> Publicado el {{ recurso.fecha_publicacion|date:"d M Y" }} </p>
                <!-- Descripción recortada -->
                <p>{{ recurso.descripcion|truncatechars:100 }}</p> 
                <!-- Tags -->
                {% if recurso.tags.all %}
                    <div class="tags_recurso">
                        {% for tag in recurso.tags.all %}
                            <!-- añadir tags con propiedades -->
                            <a href="{% url 'detalle_tag' tag.id %}" class="tag {{ tag.color_class }}">
                                {{ tag.nombre }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
            <div class= "enlace_recursos">
            <!-- Enlace a detalle_recurso -->
            <a href="{% url 'detalle_recurso' recurso.id %}">{% trans "Ver más detalles:" %}</a></div>
        </div>
    {% endfor %}
    <!-- Enlace a más recursos -->
    {% else %}
        <p>ERROR</p>
    {% endif %}
    </div>
</div>
<!-- END ENTRIES -->
{% endblock %}