{% extends "base.html" %}

{% load static%}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/proveedores.css' %}">
{% endblock %}
{% block titulo %}Proveedores{% endblock %}

{% block contenido %}
<div class="lp">
    <div class="lp-info">
        <h1>{% trans "Proveedores de Recursos STEM" %}</h1>
        <p>{% trans "Descubre las organizaciones, empresas e insituciones que impulsan el talento femenino en STEM." %}</p>
    </div>
    <div class="prov-contenedor">
        {% if proveedores %}
            {% for proveedor in proveedores %}
                <div class="prov-tarjeta">
                    {% if proveedor.logo%}
                        <img src="{{ proveedor.logo.url }}" alt="Logo de {{ proveedor.nombre }}" class="prov-logo">
                    {% endif %}
                    <h3 class="prov-nombre">
                        <a href="{% url 'detalle_proveedor' proveedor.id %}">{{ proveedor.nombre }}</a>
                    </h3>
                    <p class="prov-descripcion">{{ proveedor.descripcion|truncatechars:100 }}</p>                  
                    <a href="{% url 'detalle_proveedor' proveedor.id %}" class="prov-detalle">{% trans "Ver Detalle y Recursos &rarr;" %}</a>
                </div>
            {% endfor %}
        {% else %}
            <p>{% trans "Todavía no hay proveedores registrados." %}</p>
        {% endif%}
    </div>
</div>
{% endblock %}