.lp-info h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 16px;
    padding-bottom: 8px;
    padding-left: 15px;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 2px solid;
    border-image: linear-gradient(135deg, var(--secondary), var(--primary)) 1;
}

.lp-info p {
    font-size: 1.3rem;
    color: var(--text-light);
    margin-bottom: 20px;
    padding-left: 15px;
}

.p-contenedor {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 400px));
    gap: 20px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.p-tarjeta {
    background-color: #1a1831;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(139,92, 246, 0.3);
    border-left: 4px solid;
    border-image: linear-gradient(135deg, var(--secondary), var(--accent)) 1;
    transition: box-shadow 0.3 sec ease;
    box-sizing: border-box;	
}

.p-tarjeta:hover {
    box-shadow: 0 px 20px rgba(236, 72, 153, 0.4);
}

/*Hay que comprobar como queda cuando carguemos fotos*/
.p-logo {
    height: 40px; 
    object-fit: contain;
    margin-bottom: 12px;
}

.p-nombre {
    font-size: 1.3rem;
    font-weight: bold;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 8px;
}

.p-nombre a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.p-nombre a:hover {
   border-color: var(--primary);
}

.p-descripcion {
    font-size: 1rem;
    color: var(--text-light);
    margin-bottom: 12px;
}

.p-detalle {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--secondary);
    text-decoration: none;
}

.p-detalle:hover {
    text-decoration: underline;
}
