/*lista_recursos*/
.l_recursos{
  background-color: var(--bg-dark);;
}
.info_L_recursos{
  color:var(--text-light);
  text-align: center;
}
.info_L_recursos h1{
  color: var(--secondary);
}
.info_L_recursos p{
  font-size: large;
}
.grid_recursos { 
  width: 100%;              
  padding: 20px;
  box-sizing: border-box; /* incluye el padding dentro del 100% */
  text-align: center;
}


.recurso_card {
  display: inline-block; 
  vertical-align: top;     
  width: 30%;               /* Ajusta para tener 3 por fila */
  min-width: 300px;
  min-height: 340px; 
  background-color: #111827;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.15);
  overflow: hidden;
  padding: 20px;
  max-width: 350px;
  margin: 12px;            
  box-sizing: border-box;  /* Asegura que el padding no rompa el ancho */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.recurso_card h2{
    color: #A0E7E5;
    -webkit-text-stroke: 0.2px #a0e7e5b1; /* Borde más oscuroy fino */
    -webkit-text-fill-color: #A0E7E5; /* Relleno del texto */

}

/* Ajuste de la imagen dentro del contenedor */
.recurso_img{
  width: 100%;
  height: 100px;
  object-fit: cover;   /* recorta para cubrir */
  display: block;
  transition: transform .35s ease;
}

.recurso_card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.enlace_recursos a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #C4A1D7;
}
.enlace_recursos a:hover {
  color: #A67CC9;
}
.tags_recurso {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.tag {
  padding: 6px 12px;
  border: 1px solid var(--accent);
  border-radius: 20px; 
  background-color: rgba(59, 130, 246, 0.15); 
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--accent);
}
.tag:hover {
  background-color: rgba(255, 255, 255, 0.15);; 
}

/*detalles_recurso*/
.recurso {
  max-width: 900px;
  margin: 60px auto;             /* Centrado y con espacio arriba y abajo */
  padding: 40px;
  background-color: #111827;;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  line-height: 1.7;
  color: white;
}
.recurso h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #A0E7E5;
  margin-bottom: 10px;
}
.contenido_recurso{  
  display: flex; 
  align-items: center;
}
.recurso_text{
  text-align: justify;
  margin-right: 20px;
  flex:60%;
}
/*  CONTENEDOR DE VIDEOS  */
.video_container {
  flex:40%;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 15px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background: #000;
  transition: transform 0.3s ease;
}

.video_container:hover {
  transform: scale(1.02);
}

.video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
/* DIV ENLACE */
.recurso_enlace {
  margin-top: 20px;
  background: rgba(139, 92, 246, 0.08);
  padding: 16px;
  border-left: 4px solid var(--accent);
  border-radius: 10px;
  text-align: left;
}

.recurso_enlace p {
  font-size: 1rem;
  color: #8c8c8c;
  margin-bottom: 10px;
}

.btn_enlace {
  display: inline-block;
  background-color: var(--accent);
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_enlace:hover {
  background-color: #7c3aed;
  transform: translateY(-2px);
}

/* Link proveedor */
#Proveedor_r_link a {
  color: #A67CC9;
  text-decoration: none;
  font-weight: 600;
} 


/*Responsive*/

@media (max-width: 900px) {
  .grid_recursos {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }

  .recurso_card {
    width: 90%;
    min-width: auto;
    margin: 10px auto;
    display: block;

  }
}

/*Responsive Moviles */
@media (max-width: 768px) {
  .recurso_card {
    display: block;
    width: 100%;
    margin: 12px 0;
    box-sizing: border-box;
  }
  .grid_recursos {
    padding: 10px;
    box-sizing: border-box;
  }

  .recurso {
    width: 90%;
    padding: 20px;
    margin: 30px auto;
  }
  .recurso h1 {
    font-size: 1.5rem;
  }
}