/*lista_recursos*/
.l_recursos{
  background-color: var(--bg-dark);;
}
.info_L_recursos{
  color:var(--text-light);
  text-align: center;
}
.info_L_recursos h1{
  color: var(--secondary);
}
.info_L_recursos p{
  font-size: large;
}
.grid_recursos { 
  width: 100%;              
  padding: 20px;
  box-sizing: border-box; /* incluye el padding dentro del 100% */
  text-align: center;
}
.grid_recursos p { 
 color: black;
}

.recurso_card {
  display: inline-block; 
  vertical-align: top;     
  width: 30%;               /* Ajusta para tener 3 por fila */
  min-width: 280px;
  min-height: 340px; 
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  max-width: 350px;
  margin: 12px;            
  box-sizing: border-box;  /* Asegura que el padding no rompa el ancho */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.recurso_card h2{
    color: #A0E7E5;
    -webkit-text-stroke: 0.2px #a0e7e5b1; /* Borde más oscuroy fino */
    -webkit-text-fill-color: #A0E7E5; /* Relleno del texto */

}
.recurso_card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.enlace_recursos a {
  text-decoration: none;
   color: #C4A1D7;
}
.enlace_recursos a:hover {
  color: #A67CC9;
}
.tags_recurso {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.tag {
  padding: 6px 12px;
  border: 1px solid var(--accent);
  border-radius: 20px; 
  background-color: rgba(59, 130, 246, 0.15); 
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--accent);
}

/*detalles_recurso*/
.recurso {
  max-width: 900px;
  margin: 60px auto;             /* Centrado y con espacio arriba y abajo */
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  line-height: 1.7;
  color: #333;
}
.recurso h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #A0E7E5;
  margin-bottom: 10px;
}
#Proveedor_r_link a {
  color: #A67CC9;
  text-decoration: none;
  font-weight: 600;
} 
/*Responsive*/

@media (max-width: 900px) {
  .grid_recursos {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }

  .recurso_card {
    width: 90%;
    min-width: auto;
    margin: 10px auto;
    display: block;

  }
}

/*Responsive Moviles */
@media (max-width: 768px) {
  .recurso_card {
    display: block;
    width: 100%;
    margin: 12px 0;
    box-sizing: border-box;
  }
  .grid_recursos {
    padding: 10px;
    box-sizing: border-box;
  }

  .recurso {
    width: 90%;
    padding: 20px;
    margin: 30px auto;
  }
  .recurso h1 {
    font-size: 1.5rem;
  }
}